<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="has-background-light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.css">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <title>Data Insights</title>
</head>

<body>
    <input type="hidden" id="api-url" th:value="${api_url}">
    <hr>
    <div class="columns is-centered">
        <div class="column is-7">
            <h1 class="title">Rust Github Repositories Analytics</h1>
        </div>
        <div class="column is-3">
            <div id="date-range">
                <i class="fa fa-calendar"></i>&nbsp;
                 <span></span> <i class="fa fa-caret-down"></i>
            </div>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-8">
            <h2> 
                The bar chart shows the top five repositories of
                <a href="https://github.com/rust-lang">the Rust project</a>
                in terms of the number of issues events(i.e new issues, issue comments, closed issues etc.),
                for the selected date range.
            </h2>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-9">
            <canvas id="bar_chart"></canvas>
        </div>
    </div>
    <hr>
    <div class="columns is-centered">
        <div class="column is-8">
            <h2>
                The pie chart shows the percentage contribute by each class of activity to
                the overall activity total for the selected date range.
            </h2>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-9">
            <canvas id="doughnut_chart"></canvas>
        </div>
    </div>

    <script th:src="@{/js/dashboard.js}"></script>
</body>

</html>
